[submodule "leea-agent-protocol"]
	path = leea-agent-protocol
	url = git@github.com:Leea-Labs/leea-agent-protocol.git
[submodule "leea-contracts"]
	path = src/leea-contracts
	url = https://github.com/Leea-Labs/leea-contracts.git
